body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

text {
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left:130px;
    padding-right:130px;
    flex:1 1 36rem;
}

ul {
    list-style: none;
    margin-left:auto ;
    display: flex;
    gap: 16px;
    padding: 0;
    margin-top: 0;
}

.logolinks {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-right: auto;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-down {
    font-size: 18px;
    color: #E5E7EB;

}

.header button {
    background-color: #3882F6;
    color: white;
    display: flex;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 18px;
    padding-left: 17px;
    padding-top: 5px;
    
}

.container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex: auto;
    height: 450px;
}

.h {
    display: flex;
    flex-direction: column;
}

.images {
    padding: 60px;
    
}

img {
    max-width: 220px;
}

.second {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 1 38rem;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
    
}

.box {
    border: 4px solid #3882F6;
    border-radius: 20px;
    align-self: center;
    padding: 50px;
    font-size: 60px;
}


.under {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.bigbox {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    margin: 48px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    flex:1 1 auto;
    padding: 50px;
    padding-right:130px;
}

.inquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unquote {
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 140px;
}

.last {
    display: flex;
    border: 2px solid white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 30rem;

}

.l-box {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 10rem;
    border-radius: 30px;
    gap: 56px;
}

.inlast {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.unlast {
    color: #E5E7EB;
}
.doublast {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

button.last {
    background-color: white;
    color: #3882F6;
    display: flex;
    width: 90px;
    height: 40px;
    border-radius: 10px;
}

.feet {
    background-color: #1F2937;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    flex: 1 1 4rem;
}